body {
  font-family: "Open Sans";
}

/* Navigation Bar */
.navbar-brand, .nav-link {
  color: white;
  font-size: 18px;
}

.nav-link {
  color: white;
}

/*.navbar-toggler {
  background-color: rgba(255, 255, 255, 0);
  border-color: white;
}*/

/* --------------- */


.container-fluid {
  width: 100%;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#hero {
  background-image: url(./images/hero-image.jpg);
  display: flex;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.caption-1 {
  border: 2px solid white;
  margin: 0 auto;
}

.caption-2 {
  margin-top: 20px;
  justify-content: center;
  color: white;
  text-align: center;
}

.github, .linked-in {
  display: inline-block;
  padding: 15px 30px 10px;
}

h1 {
  margin: 20px 0;
  font-size: 48px;
}

h5 {
  margin: 10px 0;
  font-size: 20px;
}

h1, h5 {
  text-align: center;
}

.navbar {
  z-index: 1;
  background-color: rgba(0, 0, 0, .2);
  padding-left: 24px;
  padding-right: 24px;
}



h3 {
  font-size: 18px;
}

.website-name, .website-description, .website-languages, .website-link {
  font-size: 12px;
  margin: 0 0;
  color: black;
}

.website-link:hover {
  color: rgba(70, 121, 168, 1);
  text-decoration: none;
}

.website-languages {
  font-style: italic;
}

.website-name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .portfolio-item {
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

.summary-header {
  text-align: center;
  font-size: 18px;
}

.summary-body {
  font-size: 16px;
}

.aspectRatioBox {
  padding-top: calc(3 / 2 * 100%);
  background-size: cover;
  background-position: center;
}

.e-mail-address {
  text-decoration: none;
  color: rgba(70, 121, 168, 1);
}
